<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../css/style.css" />
    <!-- fontawesome icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />
  </head>
  <body>
    <!-- Top bar -->
    <div id="barra-superior">
      <button id="btnCerrar"><i class="fa-solid fa-xmark"></i></button>
      <i class="fa-solid fa-grip-vertical"></i>
    </div>

    <input id="expresion" placeholder="0" autofocus />
    <h2 id="resultado"></h2>

    <script src="../renderer.js"></script>
  </body>
</html>
